<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<link rel="stylesheet" type="text/css" href="Archivo.css">
<link rel="stylesheet" href="../materialize/css/materialize.min.css">


<body>

    <div class="headerLogin">
        <h1>ARCHIVO</h1>
        <img src="../img/Escudo.png">
    </div>


    <div id="app">
        
        <main>
            <section>
                <form class="login">
    
                    <input type="text" name="usuario" placeholder="Usuario" required>
                    <input type="password" name="contrasena" placeholder="Contraseña" required>
    
                    <a href="recuperarcontraseña.html">Recuperar contraseña</a>
    
                    <br>
    
                    <input type="submit" value="Ingresar">
    
                </form>
            </section>
    
        </main>
    </div>

    



    <footer class="page-footer white">
        <div class="container">
            <div class="row">
                <div class="col l12 s12">
                    <h5 class="grey-text">Alcaldia Municipal de Planeta Rica</h5>
                    <p class="grey-text">
                        Dirección: calle 18 No. 10-09 Sede Centro - kilometro 5 via Caucasia Sede Mall del Agro
                    </p>
                    <p class="grey-text">
                        Horario de atención: Lunes a Viernes de 7:00 am a 12:00 am y de 2:00 pm a 5:00 pm
                    </p>
                    <p class="grey-text">
                        Teléfono Conmutador: 7662274 Sede Centro - 7673003 Sede Mall del Agro
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12">
                    <div class="footer-copyright grey-text white" >
                        © 2023 Copyright Todos los derechos reservados
                        Sadir Sánchez Valderrama
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../Controller/Archivo.js"></script>

</body>

</html>