* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.headerLogin {
  margin-left: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.headerLogin h1 {
  margin-top: 80px;
  margin-right: -50px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  color: rgb(25, 171, 25);
}

.headerLogin img {
  position: relative;
  margin-right: 10px;
  width: 150px;
  height: 180px;
  top: 30px;
}

.login {
  width: 250px;
  height: 300px;
  margin: auto;
  padding: 20px;
  font-weight: bold;
}

.login input[type="text"],
.login input[type="password"] {
  width: 5px;
  padding: 5px;

}

.login input[type="submit"] {
  margin-top: 50px;
  width: 70px;
  padding: 3px;
  background-color: rgb(25, 171, 25);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login a {
  font-size: small;

}

.login input[placeholder="Usuario"],
.login input[placeholder="Contraseña"] {

  font-weight: bold;

}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  padding: 10px 0;
  color: rgb(25, 171, 25);
  font-size: 25px;
  font-family: sans-serif;
  display: inline;
  font-weight: bold;
  grid-area: header;
}

header img {
  margin: -50px;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline;
  margin-left: 200px;
  vertical-align: middle;
}

header a {
  position: relative;
  margin-left: 400px;
  color: black;
  font-size: small;
  font-weight: bold;
}

nav {
  grid-area: nav;
  z-index: 1000;
}

.nav-wrapper {
  background-color: #75a9f9;
}

.NavInicio {
  margin-left: 20px;
}

main {
  background-color: transparent;
  position: relative;
  flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
 

}

footer {
  padding:0; 
}

.page-footer {
  margin-top: auto;
}

.page-footer .container {
  width: 100%;
}

.page-footer h5,
.page-footer p {
  margin: 0; 
}

.center-align {
  text-align: center; 
}

.black-text {
  font-weight: bold;
  font-size: medium;
}

.UbicaciónForm{
  margin-left: 80px;
}

.FormRegistrarUsuario{

  margin-left: 200px;
  margin-right: 200px;

}


.NombreDeUsuarioDocumentos {
  margin-left: 250px;
  font-size: small;
}

.TituloDePantallas {
  font-size: large;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(25, 171, 25);
  margin-left: 500px;
}

.CargarDocumentos{
  color: black;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 210px;

}

.VistaPrevia {
  margin-left: 230px;
  margin-top: 120px;
}

.material-icons{
  margin-left: 30px;
  margin-top: 20px;
}

.CerrarPantallas {
  position: fixed;
  top: 100px;
  right: 50px;
  border: none;
}

.input-field {
  height: 30px;
}

.ButtonRecepcion {
  margin-top: 150px;
  margin-left: 120px;
}

h5 {
  font-size: 200px;
}