<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
    <link rel="stylesheet" type="text/css" href="Archivo.css">
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <header>
        <img src="/Img/Escudo.png" alt="">
        Archivo municipal de Planeta Rica
        <a href="index.html">Cerrar sesión</a>
    </header>

    <nav class="nav-extended ">
        <div class="nav-wrapper blue lighten-1">
            <a class="NavInicio" href="pantallaprincipal.html">Inicio</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="Documentos.html">Documentos</a></li>
                <li><a href="Usuarios.html">Usuarios</a></li>
                <li><a href="Alertasyestadistica.html">Alertas y estadisticas</a></li>
                <li><a href="Manual.html">Manual</a></li>
            </ul>
        </div>
        <div class="nav-content ">
            <ul class="tabs tabs-transparent blue lighten-1 ">
                <li><a href="Recepcionar.html">Recepcionar</a></li>
                <li><a href="Consulta.html">Consulta</a></li>
                <li><a href="Prestamo.html">Prestamo</a></li>
                <li><a href="Devolucion.html">Devolución</a></li>
            </ul>
        </div>
    </nav>

    <h1 class="TituloDePantallas">Consulta de documentos</h1>

    <div class="row">
        <div class="col s12 m6 l6 xl6 ">

            <form>

                <div class="input-field col s12">
                    <select class="input-field">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Actas">Actas</option>
                        <option value="Contratos">Contratos</option>
                        <option value="Resoluciones">Resoluciones</option>
                        <option value="Decretos">Decretos</option>
                    </select>
                    <label class="black-text">Tipo de documento</label>
                </div>

                <div class="input-field col s12">
                    <input type="text" id="autocomplete-input-identificacion" class="autocomplete">
                    <label class="black-text" for="autocomplete-input-identificacion">Nombre</label>
                </div>

                <div class="input-field col s12">
                    <input type="text" id="autocomplete-input-identificacion" class="autocomplete">
                    <label class="black-text" for="autocomplete-input-identificacion">Código</label>
                </div>

                <div class="input-field col s12">
                    <select class="input-field">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Despacho">Despacho</option>
                        <option value="Gobierno">Gobierno</option>
                        <option value="SecGeneral">Sec. General</option>
                        <option value="Hacienda">Hacienda</option>
                        <option value="Planeacion">Planeación</option>
                        <option value="Educacion">Educación</option>
                        <option value="Salud">Salud</option>
                        <option value="Transito">Transito</option>
                    </select>
                    <label class="black-text">Dependencia Productora</label>
                </div>

                <div class="col s12">
                    <div class="input-field">
                        <label class="black-text" for="FechaDeElaboración">Fecha de
                            elaboración</label>
                        <input type="text" class="datepicker">
                    </div>
                </div>

                <div class="input-field col s12">
                    <div class="ButtonBuscar">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Buscar
                        </button>

                        <button id="botonRegresar" class="btn waves-effect waves-light" type="button">Regresar</button>

                    </div>
                </div>

            </form>

            <div class=" col s12">
                <ul class="collection">
                    <li class="collection-item">Documento 1</li>
                    <li class="collection-item">Documento 2</li>
                    <li class="collection-item">Documento 3</li>
                </ul>
            </div>

        </div>

        <div class="input-field col s6">

            <div class="input-field col s12 valign-wrapper">
                <div class="VistaPrevia">
                    <i class="material-icons">visibility</i>
                    <p class="black-text">Vista Previa</p>
                </div>
            </div>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="../Controller/Archivo.js"></script>
        <script src="../materialize/js/materialize.min.js"></script>

</body>

</html>