<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Principal</title>
    <link rel="stylesheet" type="text/css" href="Archivo.css">
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
</head>

<body>

    <header>
        <img src="/Img/Escudo.png" alt="">
        Archivo municipal de Planeta Rica
        <a href="index.html">Cerrar sesión</a>
    </header>

    <div>
        <nav>
            <div class="nav-wrapper blue lighten-1">
                <a class="NavInicio" href="pantallaprincipal.html">Inicio</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="Documentos.html">Documentos</a></li>
                    <li><a href="Usuarios.html">Usuarios</a></li>
                    <li><a href="Alertasyestadistica.html">Alertas y estadisticas</a></li>
                    <li><a href="Manual.html">Manual</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <main>
        <main>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-white darken-1">
                        <div class="card-content green-text">
                            <span class="card-title">Plan Institucional de archivos PINAR</span>
                        </div>
                        <div class="card-action">
                            <a href="../Documentos/58558_7plan-institucional-de-archivo-pinar-2023.pdf"
                                target="_blank">Pinar 2023</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="card blue-white darken-1">
                        <div class="card-content green-text">
                            <span class="card-title">Tabla de Retención Documental TRD</span>
                        </div>
                        <div class="card-action">
                            <a href="../Documentos/TRD DE LA ALCALDIA DE PLANETA RICA (1).xlsx" target="_blank">TRD
                                2023</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </main>

    <footer class="page-footer white">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="grey-text">Alcaldia Municipal de Planeta Rica</h5>
                    <p class="grey-text">
                        Dirección: calle 18 No. 10-09 Sede Centro - kilometro 5 via Caucasia Sede Mall del Agro
                    </p>
                    <p class="grey-text">
                        Horario de atención: Lunes a Viernes de 7:00 am a 12:00 am y de 2:00 pm a 5:00 pm
                    </p>
                    <p class="grey-text">
                        Teléfono Conmutador: 7662274 Sede Centro - 7673003 Sede Mall del Agro
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="footer-copyright grey-text white">
                        <p class="center-align">
                            © 2023 Copyright Todos los derechos reservados
                            Sadir Sánchez Valderrama
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../Controller/Archivo.js"></script>

</body>

</html>